<!DOCTYPE html>
<html>
  <head>
    <meta name="utf-8">
    <title>{{pageTitle}} welcome</title>
  </head>

  <body>
    <div class="header" id="navbar">
  		<h1>{{valStock}}</h1>
      <input type="text" placeholder="ticker name">
  		<a href="/">Home</a>
      <a href="/markets">Markets</a>
      <a href="/screener">Screener</a>





    </div>


  </body>

</html>
